# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vscode/*
build
debug/raspi
subprojects/uWebSockets

# Not Ignored
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
